vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 May 2005 10:12:23 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|01 May 2005 10:12:23 -0000
vti_cacheddtm:TX|01 May 2005 10:12:23 -0000
vti_filesize:IR|9744
vti_cachedlinkinfo:VX|S|http://jeffs-software.com/forum/theme/default/images/tableHeaderbg2.png S|http://jeffs-software.com/forum/theme/default/images/tableHeaderbg.png
vti_cachedsvcrellinks:VX|NSHS|http://jeffs-software.com/forum/theme/default/images/tableHeaderbg2.png NSHS|http://jeffs-software.com/forum/theme/default/images/tableHeaderbg.png
vti_backlinkinfo:VX|
