vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Aug 2003 18:00:40 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|29 Aug 2003 18:00:40 -0000
vti_cacheddtm:TX|29 Aug 2003 18:00:40 -0000
vti_filesize:IR|298
vti_cachedtitle:SR|-
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|{$meta_relocate} Q|bb_style.css H|{$meta_relocate}
vti_cachedsvcrellinks:VX|NHUS|bb/templates/{$meta_relocate} NQUS|bb/templates/bb_style.css NHUS|bb/templates/{$meta_relocate}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=refresh 0;URL={$meta_relocate}
vti_charset:SR|windows-1252
vti_title:SR|-
vti_timelastindexed:TW|29 Aug 2003 18:00:40 -0000
vti_backlinkinfo:VX|
