vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Oct 2003 02:54:46 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|16 Oct 2003 02:54:46 -0000
vti_cacheddtm:TX|16 Oct 2003 02:54:46 -0000
vti_filesize:IR|2050
vti_cachedlinkinfo:VX|H|JavaScript:paste_strinL('[b][/b]',0) S|./img/button_bold.gif H|JavaScript:paste_strinL('[i][/i]',0) S|./img/button_italic.gif H|JavaScript:paste_strinL('[u][/u]',0) S|./img/button_underlined.gif H|JavaScript:paste_strinL('[img][/img]',0) S|./img/button_image.gif H|JavaScript:paste_strinL('[url=][/url]',0) S|./img/button_url.gif H|JavaScript:paste_strinL('[email=][/email]',0) S|./img/button_email.gif K|{$indexphp}action=manual
vti_cachedsvcrellinks:VX|SHUS|JavaScript:paste_strinL('[b][/b]',0) NSUS|bb/templates/img/button_bold.gif SHUS|JavaScript:paste_strinL('[i][/i]',0) NSUS|bb/templates/img/button_italic.gif SHUS|JavaScript:paste_strinL('[u][/u]',0) NSUS|bb/templates/img/button_underlined.gif SHUS|JavaScript:paste_strinL('[img][/img]',0) NSUS|bb/templates/img/button_image.gif SHUS|JavaScript:paste_strinL('[url=][/url]',0) NSUS|bb/templates/img/button_url.gif SHUS|JavaScript:paste_strinL('[email=][/email]',0) NSUS|bb/templates/img/button_email.gif NHUS|bb/templates/{$indexphp}action=manual
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_timelastindexed:TW|16 Oct 2003 02:54:46 -0000
vti_backlinkinfo:VX|
