vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jan 2004 02:53:50 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|19 Jan 2004 02:53:50 -0000
vti_cacheddtm:TX|19 Jan 2004 02:53:50 -0000
vti_filesize:IR|401
vti_cachedlinkinfo:VX|H|http://www.miniBB.net
vti_cachedsvcrellinks:VX|NHHS|http://www.miniBB.net
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_timelastindexed:TW|19 Jan 2004 02:53:50 -0000
vti_backlinkinfo:VX|
