vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Oct 2003 06:54:12 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|15 Oct 2003 06:54:12 -0000
vti_cacheddtm:TX|15 Oct 2003 06:54:12 -0000
vti_filesize:IR|592
vti_cachedlinkinfo:VX|S|./img/forum_icons/{$forumIcon} H|{$indexphp}action=vthread&forum={$forum}&topic={$topic}
vti_cachedsvcrellinks:VX|NSUS|bb/templates/img/forum_icons/{$forumIcon} NHUS|bb/templates/{$indexphp}action=vthread&forum={$forum}&topic={$topic}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_timelastindexed:TW|15 Oct 2003 06:54:12 -0000
vti_backlinkinfo:VX|
