vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Oct 2003 04:10:36 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|16 Oct 2003 04:10:36 -0000
vti_cacheddtm:TX|16 Oct 2003 04:10:36 -0000
vti_filesize:IR|1656
vti_cachedlinkinfo:VX|H|{$indexphp} A|{$indexphp} H|{$indexphp}action=userinfo&user=1 H|{$indexphp}action=userinfo&user={$lastRegUsr[0]}
vti_cachedsvcrellinks:VX|NHUS|bb/templates/{$indexphp} NAUS|bb/templates/{$indexphp} NHUS|bb/templates/{$indexphp}action=userinfo&user=1 NHUS|bb/templates/{$indexphp}action=userinfo&user={$lastRegUsr[0]}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_timelastindexed:TW|16 Oct 2003 04:10:36 -0000
vti_backlinkinfo:VX|
