vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2003 00:35:52 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|JEFFS-COMPUTER\\Jeff
vti_modifiedby:SR|JEFFS-COMPUTER\\Jeff
vti_timecreated:TR|21 Nov 2003 00:35:52 -0000
vti_cacheddtm:TX|21 Nov 2003 00:35:52 -0000
vti_filesize:IR|353
vti_cachedlinkinfo:VX|H|{$indexphp}action=sendpass
vti_cachedsvcrellinks:VX|NHUS|bb/templates/{$indexphp}action=sendpass
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_timelastindexed:TW|21 Nov 2003 00:35:52 -0000
vti_backlinkinfo:VX|
